{% extends 'applicants/base.html' %}

{% block title %}{% if object %}Редактирование заявления{% else %}Добавление заявления{% endif %}{% endblock %}

{% block content %}
<h1 class="mb-4">{% if object %}Редактирование заявления{% else %}Добавление заявления{% endif %}</h1>

<form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
        {{ form.as_p }}
    </div>
    
    <button type="submit" class="btn btn-primary">
        {% if object %}Сохранить изменения{% else %}Добавить заявление{% endif %}
    </button>
    <a href="{% url 'applicants:application_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}